label{
  font-size: 20px;
  font-family: 'Righteous', Arial, sans-serif;
  color: black;
  font-weight: 400;
  transition: background-image 1s;

}

label:hover{
  background-image: linear-gradient(0deg, rgba(18,47,216,1) 0%, rgba(74,191,255,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  -moz-text-fill-color: transparent;
}

.example-card {
  max-width: 400px;
  margin: 15px auto;
  background-color: white;
  color: black;
  justify-content: center;
 
}


/* parte superiore card */
.mat-mdc-card-header{
  background-image: linear-gradient(0deg, rgba(189,189,189,1) 0%, rgba(253,253,253,1) 40%);
}

/* avatar card */
.example-header-image {
  background-size: cover;
}

.probabilityChance{
  display: flex;
  align-items: center;
  margin-left: auto;
  border: 1px ridge transparent;
  border-radius: 50%;
  padding: 7px;
  color: white;
  font-weight: bold;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

/*probabilityChance background-color*/
.low-probs{
  background-color: crimson;
}

.medium-probs{
  background-color: #e3bd00;
}

.high-probs{
  background-color: forestgreen;
}


/* parte inferiore card */
.mat-mdc-card-content:last-child{
  /* background-image: linear-gradient(0deg, rgba(204,238,255,1) 0%, rgba(255,255,255,1) 59%); */
  background-image: linear-gradient( #ffffffc4 0%, #ffffffc4 100%), url(../../assets/images/going_merry_bg2.png);
  background-size: cover;
}

.contenitoreImage{
  width: 500px;
  height: fit-content;
  background-color: transparent;
  border: 2px solid #ffffff80;
  border-radius: 20px;
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  padding: 20px 0px;
 
}
.dragImg-container{
  width: 400px;
  border: 4px #181717 dashed;
  border-radius: 10px;
  display: flex;
  justify-content: center; /* Allinea l'icona al centro orizzontalmente */
  align-items: center; /* Allinea l'icona al centro verticalmente */
}

.dragImg-container.dragover{
  border-color: #007bff;
  background-color: #007bff1d;
  color: #007bff;

}

.dragImg-area{
 margin: 100px auto;
}
.icon-addDocument{
 font-size: 40px;
}

.img-fluid {
  width: 100%;
}

.retryButton{
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  width: 130px;
  padding: 7px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.retryButton:hover{
  background-color: #4ea3ff;

}
.StyleModal{
 
  width: 500px;
  height: 300px;
  border: 2px inset #f5873d;
  
  padding: 20px;
  opacity: 0.93;
  background: linear-gradient(0deg, #f6911e 21%, #f7eded 100%);
}
.StyleContent{
  
}