<div class="container-fluid">
  <div class="row  contenitoreImage">
    <div class="col-12">

      <div *ngIf="(uploadedImage === null || ImageFormat === true); then UploadImage  else ShowImage"></div>

        <ng-template #UploadImage> 

            <label (click)="input1.click()" style="cursor: pointer; text-align: center;">Choose a file or drag it here!</label>
            <input #input1 hidden type="file" (change)="onDragClick($event)">
    
            <div class="dragImg-container" appListener (onFileDropped)="onDragDrop($event)">
              <div class="container dragImg-area">
                <fa-icon [icon]="fontIcon" class="icon-addDocument"></fa-icon>
              </div>

            </div>

        </ng-template>


        <ng-template #ShowImage>

          <div style="display: none;" id="loader">
            <mat-spinner></mat-spinner>
          </div>

                <mat-card class="example-card">

                  <mat-card-header>
                    
                    <div mat-card-avatar class="example-header-image" [ngStyle]="{ 'background-image': 'url(' + this.avatars.getAvatarImage('TagNameProbabilityMax') + ')' }"></div>
                    <mat-card-title>{{TagNameProbabilityMax}}</mat-card-title>
                    <mat-card-subtitle style="color:#5a5a5a; padding-bottom: 16px">One Piece</mat-card-subtitle>
                    <p [appProbabilityBgColorDirective]="ProbabilityMax * 100"  class="probabilityChance">{{ProbabilityMax * 100}}%</p>
                  </mat-card-header>
                  <img mat-card-image [src]="uploadedImage" class="img-fluid" alt="Not found">
                  <mat-card-content style="padding-top:16px">
                    <p>
                      So cucinare, so dare calci, mi piacciono le femmine, il mio sogno è pescare in un posto dove ci sono tutti i pesci, perdo ingenti litri di sangue dal naso e... guardo Dellimellow su Youtube!
                      <!-- The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting. -->
                    </p>
                    <div  style="text-align: center;">
                      <button class="retryButton" onclick="window.location.reload()"> Try Again ! </button>
                    </div>

                  </mat-card-content>
                  
                </mat-card>

        </ng-template>
     
      
      
    </div>
  </div>
  
</div>
