<div class="container-fluid">
  <div class="row  contenitoreImage">
    <div class="col-12">

      <div *ngIf="uploadedImage === null; then UploadImage else ShowImage"></div>

        <ng-template #UploadImage> 

            <label (click)="input1.click()" style="cursor: pointer; text-align: center;">Choose a file or drag it here!</label>
            <input #input1 hidden type="file" (change)="onDragClick($event)">
    
            <div class="dragImg-container" appListener (onFileDropped)="onDragDrop($event)">
              <div class="container dragImg-area">
                <fa-icon [icon]="fontIcon" class="icon-addDocument"></fa-icon>
              </div>

            </div>

        </ng-template>


        <ng-template #ShowImage>

          <div style="display: none;" id="loader">
            <mat-spinner></mat-spinner>
          </div>

                <mat-card class="example-card">

                  <mat-card-header>
                    
                    <mat-card-title>Zoro</mat-card-title>
                    <mat-card-subtitle>One Piece</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image [src]="uploadedImage" class="img-fluid" alt="Photo of Zoro">
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                  <button class="retryButton" onclick="window.location.reload()"> Prova di nuovo ! </button>

                </mat-card>

        </ng-template>
      
      
      
    </div>
  </div>
  
</div>



